<h3 class="widget-box--header">
  <span class="icon-context icon-openproject"></span>
  <span class="widget-box--header-title"><%= l('personalization.welcome.right_block_title') %></span>
</h3>

<p style="text-align: justify;">
  <%= l('personalization.welcome.right_block_content') %>
</p>

<p style="text-align: justify;">
  <%= l('personalization.welcome.right_block_description_list') %>
</p>


<ul class="widget-box--arrow-links">
  <li><%= l('personalization.welcome.right_block_list_1') %></li>
  <li><%= l('personalization.welcome.right_block_list_2') %></li>
  <li><%= l('personalization.welcome.right_block_list_3') %></li>
</ul>
